/* I can haz fonts? */
@import url('https://fonts.googleapis.com/css?family=Kanit|Open+Sans:300|Poppins');

/* We don't need no stinkin' scrollbars */
* ::-webkit-scrollbar {
  display:none;
}

/* Make the entire page into one sexy flexbox column and set a default font*/
html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
}

/* Time to make a sticky header! */
.header {
  color: #ffffff;
  background-color: #5995da;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0em;
  padding-top: 1.5em;
  position: fixed;
  width: 99.8%
}

/* Target and style some specific elements within the header */
.header div {
  flex-direction: row;
  display: flex;
  margin-left: 1em;
  margin-right: 1em;
  color: #ffffff;
}

#logo {
  width: 7.6em;
  font-size: 1.5em;
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
}

#title {
  font-size: 1.3em;
  font-family: 'Kanit', sans-serif;
  color: #ffffff;
}

#home-button {
  font-size: 1.8em;
  width: 2em;
  height: 2em;
  color: #ffffff;
}
/* styling some icons */
#ride-icon {
  width: 3em;
  height: 3em;
}
/* columnizing the main container class for good measure and flexibility in case we want to change it's layout later */
.main-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/* content container classes */
.header-spacer {
  color: #ffffff;
  background-color: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-top: 2em;
  width: 99.8%
}

.button-container {
  display: flex;
  min-height: 20em;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  flex: 1;
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-bottom: 4em;
}
.choice-container {

}
