/* I can haz fonts? */
@import url('https://fonts.googleapis.com/css?family=Kanit|Open+Sans:300|Poppins');


* ::-webkit-scrollbar {
  display: none;
}

html,body {
  height: 100%;
  min-width: 300px;
}

section {
  height: auto;
  padding: 0em;
  margin: 0em;
}

.main-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.chart-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#tableDiv{
  display: flex;
  margin: 3em;
}

.header {
  color: #ffffff;
  background-color: #5995DA;  /* Blue */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 1em;
  padding-right: 1em;
  position: fixed;
  width: 99.8%;
  padding: .2em;
}

.header-spacer {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  height: 3.4em;
}


#hright {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  margin-right: 2em;
  order: 3;
  margin: .4em;
  margin-left: 2em;
  margin-right: 2em;
}

#hright a {
  display: flex;
  height: 3em;
}

#logo {
  font-size: 1.5em;
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  order: 1;
  margin: .4em;
  margin-left: 2em;
  margin-right: 2em;
}

#title {
  font-size: 1.3em;
  font-family: 'Kanit', sans-serif;
  color: #ffffff;
  margin-right: 4em;
  order: 2;
  margin: .4em;
  margin-left: 2em;
  margin-right: 2em;
}

#home-button {
  font-size: 1.8em;
  color: #ffffff;
}

#home-button fa {
  font-size: 1.8em;
  width: 2em;
  height: 2em;
  color: #ffffff;
  margin: 0em !important;
  padding: 0em !important;
}

@media (max-width:920px){#logo{font-size: 1.2em; margin: 1.5em; margin-bottom: .08em; margin-top: .08em;}}
@media (max-width:920px){#title{font-size: 1em; margin: 1.5em; margin-bottom: .08em; margin-top: .08em;}}
@media (max-width:707px){#logo{font-size: 1em; margin: 1.5em; margin-bottom: .08em; margin-top: .08em;}}
@media (max-width:707px){#title{font-size: .8em; margin: 1.5em; margin-bottom: .08em; margin-top: .08em;}}
@media (max-width:593px){.header{flex-direction: column; align-items: flex-start;}}
@media (max-width:593px){.header-spacer{height:6.8em;}}
@media (max-width:332px){.header-spacer{height:9.5em;}}
@media (max-width:593px){#home-button{font-size: 1em; margin-left: 0em; margin-bottom: .05em; margin-top: .05em;}}
@media (max-width:593px){#logo{font-size: .9em; margin: 2em; margin-bottom: .05em; margin-top: .05em;}}
@media (max-width:593px){#title{font-size: .8em; margin: 2em; margin-bottom: .05em; margin-top: .05em;}}

button {
  flex: auto;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

button div {
  flex: 1;
  margin: 0px;
  padding: 0px;
  justify-content: space-around;
}


.choice-container {
  display: flex;
  min-height: 20em;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  flex: 1;
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-top: 1rem;
  margin-bottom: 3em;
}

.button-container {
  display: flex;
  min-height: 20em;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  flex: 1;
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-top: 1rem;
  margin-bottom: 3em;
}

button:nth-of-type(1) .choice {
  background-color: #fbe1d2;
}

button:nth-of-type(2) .choice {
  background-color: #d0eaf0;
}

button:nth-of-type(3) .choice {
  background-color: #e3e7e7;
}

button:nth-of-type(4) .choice {
  background-color: #d5fdd5;
}

a:nth-of-type(1) .choice {
  background-color: #fbe1d2;
}

a:nth-of-type(2) .choice {
  background-color: #d0eaf0;
}

a:nth-of-type(3) .choice {
  background-color: #e3e7e7;
}

a:nth-of-type(4) .choice {
  background-color: #d5fdd5;
}

.choice {
  margin: .5rem;
  border-radius: .5rem;
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #cad0d2;
  min-width: 250px;
}

.choice-top {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 1% 0;
  height: 9em;
}

.choice-bottom {
  text-align: center;
  justify-content: center;
  flex: 1;
  color: #57727c;
  font-size: .8rem;
  font-weight: 700;
  padding: 5px 15px;
  border-top: 1px solid #d7dbdd;
  background-color: #eef3f5;
}

.choice-descriptionIcon {
  align-self: center;
  margin-top: 2rem;
  flex: 1;
}

.fa {
  font-size: 3em !important;
}

.choice-descriptionText {
  color: #57727c;
  font-size: 1rem;;
  text-align: center;
  max-width: calc(100% - 30px);
  flex: 1;
}

#ride-icon {
  height: 3em;
  width: 3em;
}
