/* I can haz fonts? */
@import url('https://fonts.googleapis.com/css?family=Kanit|Open+Sans:300|Poppins');


* ::-webkit-scrollbar {
  display: none;
}

html,body {
  height: 100%;
  min-width: 300px;
}

section {
  height: auto;
  padding: 0em;
  margin: 0em;
}

.main-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.chart-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#tableDiv{
  display: flex;
  margin: 3em;
}

.header {
  color: #ffffff;
  background-color: #5995DA;  /* Blue */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 1em;
  padding-right: 1em;
  position: fixed;
  width: 99.8%;
  padding: .2em;
  z-index: 1;
}

.header-spacer {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  height: 5em;
}


#hright {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  margin-right: 2em;
  order: 3;
  margin: .4em;
  margin-left: 2em;
  margin-right: 2em;
}

#hright a {
  display: flex;
  height: 3em;
}

#logo {
  font-size: 1.5em;
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  order: 1;
  margin: .4em;
  margin-left: 2em;
  margin-right: 2em;
}

#title {
  font-size: 1.3em;
  font-family: 'Kanit', sans-serif;
  color: #ffffff;
  margin-right: 4em;
  order: 2;
  margin: .4em;
  margin-left: -5.5em;
  margin-right: 2em;
}

#home-button {
  font-size: 1.8em;
  color: #ffffff;
}

#home-button fa {
  font-size: 1.8em;
  width: 2em;
  height: 2em;
  color: #ffffff;
  margin: 0em !important;
  padding: 0em !important;
}

#overlay{
  display: flex;
  z-index: 99;
  height: 100%;
  width: 99.9%;
  position: absolute;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.fa-beer {
  margin-right: .26em;
}

.pale {
  color: #F0D8A8 !important;
}
.stout {
  color: #483030 !important;
}
.ipa {
  color: #F0C078 !important;
}


.red {
  color: #722F37 !important;
}
.white {
  color: #ffffff !important;
}
.bubbles {
  color: #ffffff !important;
}

.neat {
  color: #944718 !important;
}
.mixed {
  color: #00FFFF !important;
}
.shot {
  color: #ffffff !important;
}


@media (max-width:920px){#logo{font-size: 1.2em; margin: 1.5em; margin-bottom: .08em; margin-top: .08em;}}
@media (max-width:920px){#title{font-size: 1em; margin: 1.5em; margin-bottom: .08em; margin-top: .08em;}}
@media (max-width:707px){#logo{font-size: 1em; margin: 1.5em; margin-bottom: .08em; margin-top: .08em;}}
@media (max-width:707px){#title{font-size: .8em; margin: 1.5em; margin-bottom: .08em; margin-top: .08em;}}
@media (max-width:593px){.header{flex-direction: column; align-items: flex-start;}}
@media (max-width:593px){.header-spacer{height:6.8em;}}
@media (max-width:332px){.header-spacer{height:9.5em;}}
@media (max-width:593px){#home-button{font-size: 1em; margin-left: 0em; margin-bottom: .05em; margin-top: .05em;}}
@media (max-width:593px){#logo{font-size: .9em; margin: 2em; margin-bottom: .05em; margin-top: .05em;}}
@media (max-width:593px){#title{font-size: .8em; margin: 2em; margin-bottom: .05em; margin-top: .05em;}}

button {
  flex: auto;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

button div {
  flex: 1;
  margin: 0px;
  padding: 0px;
  justify-content: space-around;
}


.choice-container {
  display: flex;
  min-height: 20em;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  flex: 1;
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-top: 1rem;
  margin-bottom: 3em;
  z-index: auto;
}

.button-container {
  display: flex;
  min-height: 20em;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  flex: 1;
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-top: 1rem;
  margin-bottom: 3em;
}

button:nth-of-type(1) .choice {
  background-color: #16a085;
}

button:nth-of-type(2) .choice {
  background-color: #27ae60;
}

button:nth-of-type(3) .choice {
  background-color: #8e44ad;
}

button:nth-of-type(4) .choice {
  background-color: #e67e22;
}

a:nth-of-type(1) .choice {
  background-color: #16a085;
}

a:nth-of-type(2) .choice {
  background-color: #27ae60;
}

a:nth-of-type(3) .choice {
  background-color: #8e44ad;
}

a:nth-of-type(4) .choice {
  background-color: #e67e22;
}

.choice {
  margin: .5rem;
  border-radius: .5rem;
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #cad0d2;
  min-width: 250px;
}

.choice-top {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 1% 0;
  height: 9em;
}

.choice-bottom {
  text-align: center;
  justify-content: center;
  flex: 1;
  color: #57727c;
  font-size: .8rem;
  font-weight: 700;
  padding: 5px 15px;
  border-top: 1px solid #d7dbdd;
  background-color: #eef3f5;
}

.choice-descriptionIcon {
  align-self: center;
  margin-top: 2rem;
  flex: 1;
}

.fa {
  color: #fff;
  font-size: 3em !important;
  text-shadow: 0px 0px 4px rgba(150, 150, 147, 1);
}

.choice-descriptionText {
  color: #fff;
  font-size: 1rem;;
  text-align: center;
  max-width: calc(100% - 30px);
  flex: 1;
}

#ride-icon {
  height: 3em;
  width: 3em;
}

.reset {
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.reset h2 {
  margin: 1em;
  font-family: 'Poppins', sans-serif;
  align-self: center;
  color: #333333;
}

.reset div {
  margin: 1em;
  margin-left: 0em;
  align-items: center;
}

.reset button {
  width: 5em;
  padding: 0;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  background-color: #5995da;
  color: #ecf0f1;
  transition: background-color .3s;
}

.reset button:hover, button:focus {
  background-color: #2980b9;
}

.reset button > * {
  position: relative;
}

.reset button span {
  display: block;
  padding: 12px 24px;
  pointer-events: none;
  color: #ffffff;
}

.reset button span:hover {
  color: #efefef;
}

.reset button:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 0;
  padding-top: 0;

  border-radius: 100%;

  background-color: rgba(236, 240, 241, .3);

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.reset button:active:before {
  width: 120%;
  padding-top: 120%;

  transition: width .2s ease-out, padding-top .2s ease-out;
}


#overlayBox {
  height: 20em;
  width: 37em;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#overlayBox h1 {
  margin-top: 4em;
  font-size: 20px;
  color: #333333;
  font-family: 'Poppins', sans-serif;
}

#overlayBox p {
  margin-top:  2em;
  font-family: 'Poppins', sans-serif;
  color: #3f3f3f;
}


#overlayBox button {
  display: flex;
  width: 17em;
  height: 2em;
  padding: 0;
  margin: 2em;
  margin-top: 2em;
  margin-bottom: 5em;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  background-color: #5995da;
  color: #ecf0f1;
  text-align: center;
  transition: background-color .3s;
  pointer-events: all;
}

#overlayBox button:hover, button:focus {
  background-color: #2980b9;
}

#overlayBox button > * {
  position: relative;
}

#overlayBox button span {
  display: block;
  padding: 12px 24px;
  pointer-events: none;
  color: #ffffff;
}

#overlayBox button span:hover {
  color: #efefef;
}

#overlayBox button:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 0;
  padding-top: 0;

  border-radius: 100%;

  background-color: rgba(236, 240, 241, .3);

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#overlayBox button:active:before {
  width: 120%;
  padding-top: 120%;

  transition: width .2s ease-out, padding-top .2s ease-out;
}
